.elementor-517
.elementor-element.elementor-element-a823449{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 -
var( --container-widget-flex-grow ) ) * 100%
);--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--align-items:center;--background-transition:0.3s;--padding-block-start:30px;--padding-block-end:30px;--padding-inline-start:5%;--padding-inline-end:5%;--position:absolute;top:0px;--z-index:10;}body:not(.rtl)
.elementor-517 .elementor-element.elementor-element-a823449{left:0px;}body.rtl .elementor-517
.elementor-element.elementor-element-a823449{right:0px;}.elementor-517
.elementor-element.elementor-element-df922bc{}.elementor-517
.elementor-element.elementor-element-df922bc img{width:150px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-menu-container{height:30px;border-radius:0px 0px 0px
0px;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a{font-family:'Tajawal', sans-serif;font-size:16px;font-weight:600;line-height:28px;color:#FFFFFF;padding:0px 0px 10px 0px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:hover{color:var( --e-global-color-accent
);}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:focus{color:var(
--e-global-color-accent );}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li >
a:active{color:var( --e-global-color-accent );}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav > li:hover > a{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li:hover > a
.elementskit-submenu-indicator{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:hover
.elementskit-submenu-indicator{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:focus
.elementskit-submenu-indicator{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:active
.elementskit-submenu-indicator{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li.current-menu-item >
a{color:#CCCCCC;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav >
li.current-menu-ancestor > a{color:#CCCCCC;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav > li.current-menu-ancestor > a .elementskit-submenu-indicator{color:#CCCCCC;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li{margin:0px 25px 0px 25px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a .elementskit-submenu-indicator{color:var(
--e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a .ekit-submenu-indicator-icon{color:var(
--e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li >
a{font-family:'Tajawal', sans-serif;font-size:16px;font-weight:500;padding:9px 20px 9px 20px;color:#000000;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li >
a:hover{color:#000000;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav
.elementskit-submenu-panel > li > a:focus{color:#000000;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav .elementskit-submenu-panel > li > a:active{color:#000000;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li:hover >
a{color:#000000;}
.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li >
a:hover,
.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li >
a:focus,
.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li >
a:active,
.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel >
li:hover > a{background-color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li.current-menu-item >
a{color:#000000 !important;background-color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-submenu-panel{padding:10px 10px 10px 10px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav
.elementskit-submenu-panel{border-style:none;border-radius:10px 10px 10px 10px;min-width:200px;}.elementor-517
.elementor-element.elementor-element-bfd1826
.elementskit-menu-hamburger{float:right;background-color:#02010100;border-style:solid;border-color:var(
--e-global-color-primary );}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-menu-hamburger
.elementskit-menu-hamburger-icon{background-color:var( --e-global-color-primary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-menu-hamburger > .ekit-menu-icon{color:var(
--e-global-color-primary );}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-hamburger:hover{background-color:var( --e-global-color-accent );border-style:solid;border-color:var(
--e-global-color-accent );}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-menu-hamburger:hover
.elementskit-menu-hamburger-icon{background-color:#000000;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-hamburger:hover > .ekit-menu-icon{color:#000000;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-menu-close{background-color:#000000;color:var(
--e-global-color-primary );}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-close:hover{background-color:var( --e-global-color-accent );border-style:solid;border-color:var(
--e-global-color-accent );color:#000000;}.elementor-517
.elementor-element.elementor-element-bfd1826{z-index:2;}.elementor-517
.elementor-element.elementor-element-9ce648d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 -
var( --container-widget-flex-grow ) ) * 100%
);--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-end;--align-items:center;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-517
.elementor-element.elementor-element-31ad906.elementor-position-right
.elementor-image-box-img{margin-left:20px;}.elementor-517
.elementor-element.elementor-element-31ad906.elementor-position-left
.elementor-image-box-img{margin-right:20px;}.elementor-517
.elementor-element.elementor-element-31ad906.elementor-position-top
.elementor-image-box-img{margin-bottom:20px;}.elementor-517 .elementor-element.elementor-element-31ad906
.elementor-image-box-wrapper .elementor-image-box-img{width:55px;}.elementor-517
.elementor-element.elementor-element-31ad906 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-517
.elementor-element.elementor-element-31ad906 .elementor-image-box-title{margin-bottom:5px;font-family:"Jost",
Sans-serif;font-size:20px;font-weight:500;line-height:0.4em;}.elementor-517 .elementor-element.elementor-element-31ad906
.elementor-image-box-description{color:#FFFFFF;font-family:"Jost",
Sans-serif;font-size:16px;font-weight:500;}.elementor-517 .elementor-element.elementor-element-8f99cc8
.jeg-elementor-kit.jkit-search .jkit-search-modal i{font-size:22px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-modal
svg{width:22px;fill:#FFFFFF;}.elementor-517 .elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search
.jkit-search-modal{color:#FFFFFF;margin:5px 5px 5px 5px;padding:0px 0px 0px
0px;text-align:center;width:22px;}.elementor-517 .elementor-element.elementor-element-8f99cc8
.jeg-elementor-kit.jkit-search .jkit-search-modal:hover{color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-modal:hover svg{fill:var(
--e-global-color-accent );}.elementor-517 .elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search
.swal2-container:before{background-color:#080808;}.elementor-517 .elementor-element.elementor-element-8f99cc8
.jeg-elementor-kit.jkit-search .jkit-search-panel input:not([type=submit]){border-style:solid;border-width:1px 1px 1px
1px;border-color:#FFFFFF1A;border-radius:10px 10px 10px 10px;height:67px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-panel
input:not([type=submit])::placeholder{color:var( --e-global-color-primary );font-family:var(
--e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size
);font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height
);}.elementor-517 .elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .swal2-close{color:var(
--e-global-color-accent );border-color:var( --e-global-color-accent );}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-modal-search-panel
.jkit-search-panel{max-width:650px;}.elementor-517 .elementor-element.elementor-element-8f99cc8
.jeg-elementor-kit.jkit-search > .jkit-search-panel{width:650px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-button
i{font-size:22px;}.elementor-517 .elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search
.jkit-search-button svg{width:22px;}.elementor-517 .elementor-element.elementor-element-8f99cc8
.jeg-elementor-kit.jkit-search .jkit-search-panel .jkit-search-button{color:var( --e-global-color-primary
);}.elementor-517 .elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-panel
.jkit-search-button svg{fill:var( --e-global-color-primary );}.elementor-517
.elementor-element.elementor-element-8f99cc8 > .elementor-widget-container{margin:0px 15px 0px 20px;}.elementor-517
.elementor-element.elementor-element-60ef629 .elementor-button:hover, .elementor-517
.elementor-element.elementor-element-60ef629 .elementor-button:focus{background-color:var( --e-global-color-primary
);}.elementor-517
.elementor-element.elementor-element-ce7b793{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}@media(max-width:1510px){.elementor-517
.elementor-element.elementor-element-a823449{--padding-block-start:30px;--padding-block-end:30px;--padding-inline-start:25px;--padding-inline-end:25px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li{margin:0px 15px 0px 15px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-panel
input:not([type=submit])::placeholder{font-size:var( --e-global-typography-text-font-size );line-height:var(
--e-global-typography-text-line-height );}.elementor-517 .elementor-element.elementor-element-8f99cc8 >
.elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:1024px){.elementor-517
.elementor-element.elementor-element-a823449{--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:50px;--padding-inline-end:50px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-nav-identity-panel{padding:10px 0px 10px 0px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-menu-container{max-width:350px;border-radius:0px 0px 0px
0px;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li >
a{color:#000000;padding:10px 15px 10px 15px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav > li > a:hover{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:focus{color:var(
--e-global-color-secondary );}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li >
a:active{color:var( --e-global-color-secondary );}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav > li:hover > a{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li:hover > a
.elementskit-submenu-indicator{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:hover
.elementskit-submenu-indicator{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:focus
.elementskit-submenu-indicator{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a:active
.elementskit-submenu-indicator{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li.current-menu-item > a{color:var(
--e-global-color-secondary );}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav >
li.current-menu-ancestor > a{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li.current-menu-ancestor > a
.elementskit-submenu-indicator{color:var( --e-global-color-secondary );}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav > li > a
.elementskit-submenu-indicator{color:#000000;fill:#000000;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-navbar-nav > li > a .ekit-submenu-indicator-icon{color:#000000;fill:#000000;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav .elementskit-submenu-panel > li > a{padding:10px
15px 10px 15px;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-navbar-nav
.elementskit-submenu-panel{border-radius:0px 0px 0px 0px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-hamburger{padding:10px 10px 8px 10px;width:45px;border-radius:8px;border-width:1px 1px 1px
1px;}.elementor-517 .elementor-element.elementor-element-bfd1826 .elementskit-menu-hamburger >
.ekit-menu-icon{font-size:18px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-hamburger:hover{border-width:1px 1px 1px 1px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-menu-close{padding:8px 8px 8px 8px;margin:12px 12px 12px
12px;width:45px;border-radius:8px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-menu-close:hover{border-width:1px 1px 1px 1px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-nav-logo > img{max-width:160px;max-height:60px;}.elementor-517 .elementor-element.elementor-element-bfd1826
.elementskit-nav-logo{margin:5px 0px 5px 0px;padding:5px 5px 5px 5px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-panel
input:not([type=submit])::placeholder{font-size:var( --e-global-typography-text-font-size );line-height:var(
--e-global-typography-text-line-height );}}@media(max-width:767px){.elementor-517
.elementor-element.elementor-element-a823449{--padding-block-start:20px;--padding-block-end:20px;--padding-inline-start:20px;--padding-inline-end:20px;}.elementor-517
.elementor-element.elementor-element-df922bc img{width:160px;}.elementor-517
.elementor-element.elementor-element-bfd1826 .elementskit-nav-logo > img{max-width:120px;max-height:50px;}.elementor-517
.elementor-element.elementor-element-31ad906 .elementor-image-box-img{margin-bottom:20px;}.elementor-517
.elementor-element.elementor-element-8f99cc8 .jeg-elementor-kit.jkit-search .jkit-search-panel
input:not([type=submit])::placeholder{font-size:var( --e-global-typography-text-font-size );line-height:var(
--e-global-typography-text-line-height );}}@media(min-width:768px){.elementor-517
.elementor-element.elementor-element-9ce648d{--width:500px;}}@media(max-width:1510px) and
(min-width:768px){.elementor-517 .elementor-element.elementor-element-9ce648d{--width:230px;}}.swal2-close{
font-size: 40px !important;
}
